{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/common.css">
</head>

<body>
  <section
    class="mx-auto md:px-5 px-2 md:w-[80%] w-full   2xl:max-w-[1600px] md:h-[85vh] justify-center mx-auto items-center  p-2 bg-white !flex justify-around gap-10 max-md:flex-col ">
    <div class=" bgcnavy flex flex-col w-full justify-center items-start   flex-1 rounded-md px-4  h-[75vh]">
      
      <img src="{% static 'images/loginlogo.svg' %}" alt="" class=" mt-6  h-[20px]" />
      <div class=" text-start flex  grow flex-col justify-center  mt-5 w-full  items-start gap-2 text-white sm:pl-20">
        <h1
          class=" xl:text-5xl text-3xl max-md:text-3xl text-start mt-2 !leading-[1.2]  font-bold text-white max-md:pr-2">
          Welcome to <br /> Our Community
        </h1>
        <p class=" text-base  font-normal  mt-2">
          Sign Up or login to continue to the website
        </p>
        <div class=" mt-4 w-[85%] flex justify-between max-xl:flex-col items-start  ">
          <div>
            <div class="flex justify-start items-center mt-2">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHDRlp-KGr_M94k_oor4Odjn2UzbAS7n1YoA&s"
                class=" h-10 w-10 rounded-full object-cover z-50" alt="" />
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHDRlp-KGr_M94k_oor4Odjn2UzbAS7n1YoA&s"
                class=" h-10 w-10 rounded-full object-cover z-40 -ml-2" alt="" />
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHDRlp-KGr_M94k_oor4Odjn2UzbAS7n1YoA&s"
                class=" h-10 w-10 rounded-full object-cover z-30 -ml-2" alt="" />
              <span class=" ml-2 text-base font-normal ">
                10,000+ Users
              </span>
            </div>
            <div class="mt-5 flex w-full justify-between  text-sm font-normal ">
              EXPLORE THE LIMITS
            </div>
          </div>
          <img src="{% static 'images/downarrow.svg' %}" alt="downarrow img" class=" relative h-[100px] w-[100px]  ml-auto" />
        </div>
      </div>
    </div>
    <div class="flex-1 w-full flex flex-col justify-center relative  items-center">
      <form class="p-4  max-auto  max-md:w-full  flex justify-center items-center" method="POST">
        {% csrf_token %}
        <div class=" mt-4  w-full md:w-[100%] text-center   ">
          <h4 class=" text-start text-cblack  text-3xl font-semibold ">
            Reset Password
          </h4>
          <p class=" text-sm text-secondary  text-start  font-normal  mt-2">
            Enter your email to reset your password
          </p>
          <div class=" text-start mt-8">
            <label class=" text-base  text-cblack font-semibold">
              Email
            </label>
            {% render_field form.email class+="text-cslategray text-sm font-medium py-2 px-4 outline-none mt-2 border-cgray rounded-full border w-full" placeholder="Your Full Email" %}
          </div>
          <div class=" mt-8 w-full">
            <input type="submit" value="Send me instructions!"
              class="bg-black text-white flex justify-center text-xs p-3 font-semibold rounded-full !w-full mx-auto">
          </div>
        </div>
      </form>

    </div>
  </section>
</body>

</html>