<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <title>Certificate</title>
</head>

<body style="margin: 0; font-family: Nunito, sans-serif;">
    <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; margin-top: 1.25rem;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width: 42rem; background-color: #fff; margin: 0 auto;">
            <tr>
                <td style="padding: 1rem; text-align: center;">
                    <a href="#">
                        <img src="https://images-maang-careers.s3.ap-south-1.amazonaws.com/logos/Company.png" alt="tailwindtaplogo" style="width: 164px;">
                    </a>
                </td>
            </tr>
            <tr>
                <td style="width: 100%; height: 2px; background-color: #000;"></td>
            </tr>
            <tr>
                <td style="text-align: center; padding: 15px;">
                    <div style="font-weight: bold; font-size: 20px;">
                        <span style="position: relative;"><span style="border-bottom: 3px solid #2db2c4;padding-bottom: 3px;">Congratulations</span> on Completing Your Course! 🎉
                            <div "></div>
                        </span>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding: 20px;padding-bottom: 0;">
                    <p style="font-size: 16px; line-height: 24px; margin: 0;margin-top: 20px;">
                        Hey <span style="font-weight: bold;">{{student_name}}</span>,
                    </p>
                    <p style="font-size: 16px; line-height: 24px; margin: 20px 0;">
                        Congratulations on completing the {{course_name}}! We’re thrilled to see your dedication and hard work pay off. 🎓
                    </p>
                    <p style="font-size: 16px; line-height: 24px; margin: 20px 0;">
                        Please clear your full payment, so that as a token of your achievement you can get your certificate.
                        <a href="{{download_link}}" style="color: #2db2c4; font-weight: bold;">Click on this link to download your certificate</a>, once your payment is cleared.
                    </p>
                    <p style="font-size: 16px; line-height: 24px; margin: 10px 0;">
                        We wish you the best of luck in your future endeavors and hope this course has empowered you with the skills and knowledge to achieve your goals. Keep striving for excellence, and remember, we're here to support you on your journey.
                    </p>
                    <a href="https://maangcareers.com" target="_blank" style="text-decoration: none;display: inline-block; padding: 8px 20px; font-size: 14px; font-weight: bold; color: #ffffff; background-color: #2db2c4; text-decoration: none; border-radius: 4px; margin-top: 10px;">
                        Visit Site
                    </a>
                    <p style="font-size: 16px; line-height: 24px; margin-top: 20px;">
                        Thank you,<br />
                        MAANG Careers Team
                    </p>
                </td>
            </tr>
            <tr>
                <td style="padding: 1.25rem; font-size: 16px; line-height: 20px;padding-top: 10px;">
                    This email was sent from <a href="mailto:support@maangcareers.com" style="color: #2db2c4;">support@maangcareers.com</a>. If you'd rather not receive this kind of email, you can unsubscribe or manage your email preferences.
                </td>
            </tr>
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td style="background-color: rgba(209, 213, 219, 0.6); text-align: center; padding: 20px;" align="center">
                    <table align="center" style="width: 100%;text-align: center;">
                        <tr>
                            <td colspan="3" style="color: #2db2c4; font-weight: bold; font-size: 20px; letter-spacing: 1px;">
                                Get in touch
                            </td>
                        </tr>
                        <tr>
                            <td height="20"></td>
                        </tr>
                        <tr>
                            <td colspan="3" style="color: #4b5563; padding-top: 10px;">
                                <a href="tel:+91 6363092823" style="color: #4b5563; text-decoration: none;">+91 6363092823</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="color: #4b5563; padding-top: 10px;">
                                <a href="mailto:support@maangcareers.com" style="color: #4b5563; text-decoration: none;">support@maangcareers.com</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 20px;text-align: right;padding-right: 10px;">
                                <a href="https://www.facebook.com/MaangCareers" target="_blank">
                                  <img src="https://images-maang-careers.s3.ap-south-1.amazonaws.com/logos/icon-facebook-new.svg
                                  " alt="Facebook" style="width: 35px; height: 35px;">
                                </a>
                            </td>
                            <td style="padding-top: 20px;width: 20px;">
                                <a href="https://www.instagram.com/maang_careers" target="_blank">
                                  <img src=" https://images-maang-careers.s3.ap-south-1.amazonaws.com/logos/icon-insta-new.svg
                                  " alt="Instagram" style="width: 35px; height: 35px;">
                                </a>
                            </td>
                            <td style="padding-top: 20px;text-align: left;padding-left: 10px;">
                                <a href="https://www.linkedin.com/company/maangcareers" target="_blank">
                                  <img src="https://images-maang-careers.s3.ap-south-1.amazonaws.com/logos/icon-linkdin-new.svg" alt="LinkedIn" style="width: 35px; height: 35px;">
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="100%">
                    <table width="100%" align="center">
                        <tr>
                            <td colspan="3" style="background-color: #2db2c4; color: #fff; text-align: center; padding: 15px 5px; margin-top: 20px;">
                                <p style="font-size: 16px; margin: 10px 0;">© 2024 MAANG Careers Private Limited Company. All Rights Reserved.</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>
