<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
</head>

<body>
    <table style="width: 100%; font-family: Nunito, sans-serif;">
        <tr>
            <td style="text-align: center; padding-top: 1.25rem;">
                <table style="max-width: 42rem; background-color: #fff; width: 100%; margin: auto;">
                    <tr>
                        <td style="text-align: center; padding-bottom: 20px;">
                            <a href="#">
                              <img src="https://images-maang-careers.s3.ap-south-1.amazonaws.com/logos/Company.png" alt="tailwindtaplogo" style="width: 164px;">
                            </a>
                        </td>
                    </tr>
                    <tr>
                      <td style="background-color: #2db2c4; color: #fff; text-align: center; padding: 40px 20px;text-align: center;">
                          <table align="center" style="width: 100%;text-align: center;">
                              <tr>
                                  <td align="right">
                                      <div style="width: 2.5rem; height: 1px; background-color: #fff;"></div>
                                  </td>
                                  <td  width="20">
                                      <img src="https://images-maang-careers.s3.ap-south-1.amazonaws.com/logos/gmail-new+(1).png " alt="mail" style="width: 20px;
                                      height: 13px;
                                      margin: 0 5px;
                                      background-color: #fff;
                                      border: 1px solid #fff;">
                                  </td>
                                  <td>
                                      <div style="width: 2.5rem; height: 1px; background-color: #fff;"></div>
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="3" style="padding-top: 20px;text-align: center;">
                                      <span style="font-size: 24px; font-weight: bold;color: #fff;">
                                        Password Reset Request
                                      </span>
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
                    <tr>
                        <td style="padding: 2rem 1.25rem;padding-top: 35px;">
                            <p style="font-size: 16px; line-height: 24px; margin: 0;">
                              Hey <span style="font-weight: bold;">{{student_name}}</span>,
                            </p>
                            <p style="line-height: 1.5; color: #4b5563;">
                                We received a request to reset the password associated with your account. If you made this request, please click the link below to reset your password:
                            </p>
                            <a href="{{reset_password_link}}" target="_blank" style="text-decoration: none;">
                                <button style="padding: 15px 10px; margin-top: 1.5rem; font-size: 14px; font-weight: bold; text-transform: capitalize; background-color: #2db2c4; color: #fff; border-radius: 0.375rem; border: none; outline: none; cursor: pointer; display: block; width: 39%; margin: auto;">
                                    Reset My Password
                                </button>
                            </a>
                            <p style="margin-top: 1rem; line-height: 1.75; color: #4b5563;">
                                If you didn't request a password reset, please ignore this email. Your password will remain unchanged.
                            </p>
                            <p style="color: #4b5563;">
                                For your security, this link will expire in 60 minutes.
                            </p>
                            <p style="margin-top: 2rem; color: #4b5563;">
                                Thank you, <br /> MAANG Careers Team
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="color: #7b8794; padding: 0 1.25rem; margin-top: 2rem;">
                            If you didn’t request this code, please ignore this email or contact our support team immediately
                            <a href="mailto:support@maangcareers.com" style="color: #2db2c4;">support@maangcareers.com</a>.
                        </td>
                    </tr>
                    <tr>
                      <td height="30"></td>
                    </tr>
                    <tr>
                      <td style="background-color: rgba(209, 213, 219, 0.6); text-align: center; padding: 20px;" align="center">
                          <table align="center" style="width: 100%;text-align: center;">
                              <tr>
                                  <td colspan="3" style="color: #2db2c4; font-weight: bold; font-size: 20px; letter-spacing: 1px;">
                                      Get in touch
                                  </td>
                              </tr>
                              <tr>
                                  <td height="20"></td>
                              </tr>
                              <tr>
                                  <td colspan="3" style="color: #4b5563; padding-top: 10px;">
                                      <a href="tel:+91 6363092823" style="color: #4b5563; text-decoration: none;">+91 6363092823</a>
                                  </td>
                              </tr>
                              <tr>
                                  <td colspan="3" style="color: #4b5563; padding-top: 10px;">
                                      <a href="mailto:support@maangcareers.com" style="color: #4b5563; text-decoration: none;">support@maangcareers.com</a>
                                  </td>
                              </tr>
                              <tr>
                                  <td style="padding-top: 20px;text-align: right;padding-right: 10px;">
                                      <a href="https://www.facebook.com/MaangCareers" target="_blank">
                                        <img src="https://images-maang-careers.s3.ap-south-1.amazonaws.com/logos/icon-facebook-new.svg
                                        " alt="Facebook" style="width: 35px; height: 35px;">
                                      </a>
                                  </td>
                                  <td style="padding-top: 20px;width: 20px;">
                                      <a href="https://www.instagram.com/maang_careers" target="_blank">
                                        <img src=" https://images-maang-careers.s3.ap-south-1.amazonaws.com/logos/icon-insta-new.svg
                                        " alt="Instagram" style="width: 35px; height: 35px;">
                                      </a>
                                  </td>
                                  <td style="padding-top: 20px;text-align: left;padding-left: 10px;">
                                      <a href="https://www.linkedin.com/company/maangcareers" target="_blank">
                                        <img src="https://images-maang-careers.s3.ap-south-1.amazonaws.com/logos/icon-linkdin-new.svg" alt="LinkedIn" style="width: 35px; height: 35px;">
                                      </a>
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
                  <tr>
                      <td width="100%">
                          <table width="100%" align="center">
                              <tr>
                                  <td colspan="3" style="background-color: #2db2c4; color: #fff; text-align: center; padding: 15px 5px; margin-top: 20px;border-radius: 0;">
                                      <p style="font-size: 16px; margin: 10px 0;">© 2024 MAANG Careers Private Limited Company. All Rights Reserved.</p>
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
