<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  <title>Welcome Email</title>
</head>

<body style="margin: 0px; font-family: Nunito, sans-serif;">
  <table style="width: 100%; max-width: 42rem; background-color: #fff; margin: 0 auto;">
    <tr>
      <td style="padding-top: 1rem; padding-bottom: 1rem; text-align: center;">
        <a href="#">
          <img src="https://images-maang-careers.s3.ap-south-1.amazonaws.com/logos/Company.png "
            alt="MAANG Careers Logo" style="width: 164px;" />
        </a>
      </td>
    </tr>
    <tr>
      <td style="width: 100%; height: 2px; background-color: #000;"></td>
    </tr>
    <tr>
      <td style="text-align: center; padding: 15px 0;">
        <div style="font-weight: bold; font-size: 32px; margin-top: 20px;">
          Thanks for <span style="position: relative;">
            <span style="border-bottom: 3px solid #2db2c4;padding-bottom: 3px;">Signing</span> up!
          </span>
        </div>
      </td>
    </tr>
    <tr>
      <td style="padding-left: 20px; padding-right: 20px; padding-top: 10px;">
        <p style="font-size: 18px; line-height: 28px;">
          Hey <span style="font-weight: bold;">{{student_name}}</span>, We're glad you are here!
        </p>
        <p style="font-size: 18px; line-height: 28px; margin-top: 10px;">
          Welcome to the MAANG Careers community! 🎉 We’re thrilled to have you on board and excited to be a part of
          your educational journey.
        </p>
        <p style="font-size: 18px; line-height: 28px; margin-top: 10px;">
          You’ve just joined a MAANG community with a vast network. Explore and enhance your IT skills to secure your
          future. We offer limitless opportunities for those ready to take on challenges, innovate, and land high-paying
          jobs with top companies. Whether you’re here to sharpen your skills, explore cutting-edge strategies, or stay
          ahead in your career, you’re in the right place.
        </p>
        <p style="font-size: 18px; line-height: 28px; margin-top: 10px;">
          Welcome to our community!
        </p>
      </td>
    </tr>
    <tr>
      <td style="padding-left: 20px; padding-right: 20px; text-align: left;">
        <a href="https://maangcareers.com" target="_blank"
          style="text-decoration: none;display: inline-block; padding: 10px 20px; font-size: 14px; font-weight: bold; color: #ffffff; background-color: #2db2c4; text-decoration: none; border-radius: 4px; margin-top: 10px;">
          Visit Site
        </a>
      </td>
    </tr>
    <tr>
      <td style="padding-left: 20px; padding-right: 20px; padding-top: 20px;">
        <p style="font-size: 18px; line-height: 28px;margin: 0;">
          Thank you, <br />
          MAANG Careers Team
        </p>
      </td>
    </tr>
    <tr>
      <td style="padding-left: 20px; padding-right: 20px; padding-top: 10px;">
        <p style="font-size: 18px; line-height: 28px;">
          This email was sent from <a href="mailto:support@maangcareers.com"
            style="color: #2db2c4;">support@maangcareers.com</a>. If you'd rather not receive this kind of email, you
          can unsubscribe or manage your email preferences.
        </p>
      </td>
    </tr>
    <tr>
      <td height="30"></td>
    </tr>
    <tr>
      <td style="background-color: rgba(209, 213, 219, 0.6); text-align: center; padding: 20px;" align="center">
        <table align="center" style="width: 100%;text-align: center;">
          <tr>
            <td colspan="3" style="color: #2db2c4; font-weight: bold; font-size: 20px; letter-spacing: 1px;">
              Get in touch
            </td>
          </tr>
          <tr>
            <td height="20"></td>
          </tr>
          <tr>
            <td colspan="3" style="color: #4b5563; padding-top: 10px;">
              <a href="tel:+91 6363092823" style="color: #4b5563; text-decoration: none;">+91 6363092823</a>
            </td>
          </tr>
          <tr>
            <td colspan="3" style="color: #4b5563; padding-top: 10px;">
              <a href="mailto:support@maangcareers.com"
                style="color: #4b5563; text-decoration: none;">support@maangcareers.com</a>
            </td>
          </tr>
          <tr>
            <td style="padding-top: 20px;text-align: right;padding-right: 10px;">
              <a href="https://www.facebook.com/MaangCareers" target="_blank">
                <img src="https://images-maang-careers.s3.ap-south-1.amazonaws.com/logos/icon-facebook-new.svg
                        " alt="Facebook" style="width: 35px; height: 35px;">
              </a>
            </td>
            <td style="padding-top: 20px;width: 20px;">
              <a href="https://www.instagram.com/maang_careers" target="_blank">
                <img src=" https://images-maang-careers.s3.ap-south-1.amazonaws.com/logos/icon-insta-new.svg
                        " alt="Instagram" style="width: 35px; height: 35px;">
              </a>
            </td>
            <td style="padding-top: 20px;text-align: left;padding-left: 10px;">
              <a href="https://www.linkedin.com/company/maangcareers" target="_blank">
                <img src="https://images-maang-careers.s3.ap-south-1.amazonaws.com/logos/icon-linkdin-new.svg"
                  alt="LinkedIn" style="width: 35px; height: 35px;">
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td width="100%">
        <table width="100%" align="center">
          <tr>
            <td colspan="3"
              style="background-color: #2db2c4; color: #fff; text-align: center; padding: 15px 5px; margin-top: 20px;">
              <p style="font-size: 16px; margin: 10px 0;">© 2024 MAANG Careers Private Limited Company. All Rights
                Reserved.</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>